[data-v-8ad01521] .trojan-row{background:rgba(43,43,43,.455)!important;color:#ebebeb!important}[data-v-8ad01521] .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{background:none!important}
